html {
	font-size: 18px;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
	display: flex;
	flex-direction: column;
	width: 100vw;

	&__loading {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 95vh;
		width: 100vw;
	}

	&__link {
		text-decoration: none;
		color: black;
	}

	&__user {
		height: 2.5rem;
		width: 2.5rem;
		border-radius: 50%;
	}

	.main {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 4rem;
		width: 100%;
	}
}
