.message-component {
	display: flex;
	flex-direction: column;

	&__avatar {
		display: flex;
		// height: 100%;
		width: 100%;
		align-items: center;
	}

	&__content {
		display: flex;
		width: 100%;
		flex-direction: column;
		justify-content: flex-start;
	}

	&__button {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		margin-top: 0.5rem;
	}
}
