.list-menu {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;

	@media only screen and (min-width: 1366px) {
		height: 90vh;
	}

	&__items {
		display: flex;
		width: 25%;
		border-right: solid 1px;

		@media only screen and (max-width: 1365px) {
			width: 100%;
		}

		@media only screen and (min-width: 1366px) {
			height: 100%;
			position: static;
			overflow: auto;
		}
	}

	&__info {
		width: 75%;
		display: flex;
		flex-direction: column;
		@media only screen and (min-width: 2400px) {
			height: 100vh;
		}

		@media only screen and (max-width: 1365px) {
			display: none;
			width: 0%;
		}

		@media only screen and (min-width: 1366px) {
			height: 100%;
			position: static;
			overflow: auto;
		}
	}
}

.property-list-item {
	cursor: pointer;

	&:hover {
		background-color: rgba(216, 213, 213, 0.523);
	}
}

.list-panel {
	width: 100%;
	display: flex;
	flex-direction: column;

	&__add-watcher {
		cursor: pointer;
	}

	.list-item {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;

		&__detail {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 75%;
		}

		&__image {
			height: 20%;
			display: flex;
			align-items: flex-start;
			justify-content: center;

			&:hover {
				cursor: pointer;
			}

			img {
				width: 100%;
				height: 100%;
			}
		}

		&__info {
			display: flex;
			flex: 1;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			margin-left: 0.5rem;
		}

		&__status {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			justify-content: flex-start;

			@media only screen and (min-width: 1366px) {
				font-size: 1rem;
			}

			@media only screen and (max-width: 1365px) {
				font-size: 0.8rem;
			}
		}

		&__agent {
			border-radius: 50%;
			height: 2.5rem;
		}
	}
}
