.property-item {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;

  &__image {
    height: 30rem;
    margin-bottom: 2rem;

    @media only screen and (max-width: 1365px) {
      height: 15rem;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
  }

  &__details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;

    &-section {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 2rem;
      width: 100%;
    }
  }
}
